*,*:before,*:after{
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Open Sans";
}
input{
    outline: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0 auto;
}
.invisLink{
    position: relative;
    z-index: 1;
}
.invisLink>a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
input,button,textarea {
    font-family: "Open Sans";
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}
header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}
header .menu a {
    font-size: 13px;
    line-height: 28px;
    color: #333;
}
.menu li{
    display: inline-block;
}
.menu li{
    margin-right: 20px;
}
header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
}
header .callback{
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
}
header .callback:hover{
    border-bottom: none;
}
header p.timing{
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}
header .basket{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
}
header .basket span{
    color: #1a9547;
}
header [class*="icon"] {
    color: #1a9547;
}
header .login [class*="icon"] {
    font-size: 18px;
}
header .phone [class*="icon"] {
    font-size: 20px;
}
.headWrap {
    display: table-cell;
    width: 100%;
}
.headWrap>*{
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
}
.headWrap .logo{
    text-align: center;
}
.advantages .item {
    float: left;
    width: 25%;
}
.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
}
.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}
.advantages{
    width: calc(100% - 320px);
    float: left;
}
.subscribe label {
    font-size: 16px;
    color: #ffffff;
}
.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
}
.subscribe button {
    font-size:  13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    background-color: #259c47;
    border: none;
    display: table-cell;
    vertical-align: middle;
    width: 188px;
}
.subscribe .wrap {
    display: table;
    width: 100%;
}
.subscribe .wrap span {
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
    color: rgba(255,255,255,0.5);
}
.subscribe {
    background-color: #64ba4a;
    width: 320px;
    float: left;
}
.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
}
.filter li+li{
    padding-left: 20px;
}
.filter li a {
    text-decoration: none;
    color: #666666;
}
.card{
    position: relative;
    border-bottom: solid 1px #e4e4e4;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.card button{
    background-color: #ff7200;
    border: #ff7200 1px solid;
    color: #ffffff;
    width: 103px;
    height: 32px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.card button:hover{
    background-color: #ffffff;
    color: #ff7200;

}
.status{
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.status.hit{
    background-color: #6eddcc;
}
.status.discount{
    background-color: #ffed03;
}
.status.new{
    background-color: #78ec71;
}
.card .name {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}
.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}
.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
}
.card .price .old{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
}
.social h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    text-align: center;
    color: #666666;
}
.socials>div{
    display: flex;
    justify-content: space-between;

}
.tabs li a{
    font-size: 14px;
    text-decoration: none;
    line-height: 45px;
    color: #999999;
}
.info .content {
    font-size: 12px;
    line-height: 18px;
    color: #333;
}
.info .title {
    text-transform: uppercase;
    position: relative;
}
.info .title:after  {
    content: '';
    position: absolute;
    left: -24px;
    height: 5px;
    width: 11px;
    background-image: url(../img/png/arrow.png);
}
footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer a.soc{
    font-size: 21px;
}
footer  a.soc{
    margin-left: 12px;
}
.menuFooter>li{
    display: block;
    float: left;
    width: 50%;
}
footer .container>*{
    display: block;
    float: left;
    width: 50%;
}
footer .footerInfo>*{
    display: block;
    float: left;
    width: 50%;
}
footer{
    padding: 33px 0 26px;
}
.banner{
    display: flex;
    justify-content: space-between;
}

.sale {
    width: 305px;
    height: 360px;
    background-size: cover;
    background-position: center;
}
.slider {
    width: 640px;
    height: 360px;
    background-size: cover;
    background-position: center;
}
.catalog .card .img {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.socialItem {
    height: 400px;
    width: 290px;
}
.socialItem2 {
    height: 400px;
    width: 350px;
}
.breadcrumbs *{
    color: #999999;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
}
.newsTitle h2 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
}
.newsTitle h3 {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}
.newsTitle span {
    color: #999999;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
}
.newsContent p {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}
.newsContent a {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}
.newsImage {
    height: 150px;
    width: 980px;
}
fieldset{
    border: none;
}
.socials h2{
    font-size: 18px;
    color: #666666;
    font-weight: 600;
}
.order h2{
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;
}
select{
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}
.order label{
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}
.order fieldset span{
    font-size: 15px;
    line-height: 22px;
    color: #666666;
    font-weight: 600;
}
input[type="radio"]+label{
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    font-style: normal;
}
.order p{
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}
.delivery  p>span {
    color: #f26522;
    font-size: 12px;
    line-height: 18px;
}
.order label>span{
    color: #ed1c24;
}
.delivery li{
    padding-left: 40px;
}
.delivery label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}
.radioBtn{
    display: none;
}
.radioBtn:not(checked) + label::before{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}
.radioBtn:not(checked) + label::after{
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #51bf87;
    opacity: 0;
    transition: all 0.3s;
}
.radioBtn:checked + label::after{
    opacity: 1;
}
.radioBtn:checked + label::before{
    border-color: #51bf87;
}
.radioBtn+label{
    cursor: pointer;
}
header .login:hover{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: none;
}
header .phone:hover{
    color: #179547;
    border-bottom: 1px solid #179547;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.subscribe input:focus{
    border: 1px solid #64ba4a;
}

@media (max-width: 1199px){
    .container{
        width: 950px;
        padding: 0;
    }
    .sale{
        height: 350px;
        width: 295px;
    }
    .slider{
        height: 350px;
        width: 625px;
    }
    .advantages{
        width: 650px;
    }
    .subscribe{
        width: 300px;
    }
    .card img{
        height: 215px;
    }
    .socials{
        display: none;
    }
}
@media (max-width: 991px) {
    .container{
        width: 750px;
    }
}

@media (max-width: 767px) {
    .container{
        width: 100%;
    }
}

@media (max-width: 479px) {

}