*,*:before,*:after{
    box-sizing: border-box;
}
html{
    background-color: #64ba4a;
}
body {
    margin: 15px auto;
    font-family: "Open Sans";
    background-color: #ffffff;

}
input{
    outline: none;
}
h1,h2,h3,h4,h5,h6,p {
    margin: 0 auto;
}
.invisLink{
    position: relative;
    z-index: 1;
}
.invisLink>a{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 7;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
input,button,textarea {
    font-family: "Open Sans";
}
.clear::after {
    content: '';
    display: block;
    clear: both;
}
.container {
    width: 1010px;
    margin: 0 auto;
    padding: 0 15px;
}
header .login {
    font-size: 13px;
    line-height: 18px;
    color: #0069b4;
}
header .menu a {
    font-size: 13px;
    line-height: 28px;
    color: #333;
}
.menu li{
    display: inline-block;
}
.menu li{
    margin-right: 20px;
}
header .phone {
    font-size: 20px;
    line-height: 20px;
    color: #333333;
    text-decoration: none;
    display: block;

}
header .callback{
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    color: #0069b4;
    border-bottom: 1px dashed #0069b4;
}
header .callback:hover{
    border-bottom: none;
}
header p.timing{
    font-size: 13px;
    line-height: 19px;
    color: #999999;
}
header .basket{
    font-size: 13px;
    line-height: 22px;
    color: #333333;
    text-decoration: none;
    display: inline-block;
    padding-left: 28px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-top: 20px!important;
}
header .basket span{
    color: #1a9547;
}
header [class*="icon"] {
    color: #1a9547;
}
header .login [class*="icon"] {
    font-size: 18px;
}
header .phone [class*="icon"] {
    font-size: 20px;
}
.headWrap {
    display: table-cell;
    width: 100%;
}
.headWrap .left{
    padding-top: 25px;
}
.headWrap>*{
    display: table-cell;
    width: 33.3333%;
    vertical-align: top;
}
.headWrap .logo{
    text-align: center;
    padding-top: 15px;
}
.headWrap .right{
    padding-top: 25px;
    text-align: right;
    width: 33%;
}
.headWrap .right>*+*{
    margin-top: 10px;
}
.headWrap
header .login:hover{
    text-decoration: none;
}
.menu a:hover{
    text-decoration: none;
}
header .phone:hover{
    color: #179547;
    border-bottom: 1px solid #179547;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.advantages .item {
    float: left;
    width: 25%;
    text-align: left;
}
.advantages .item>*{
    display: block;
}
.advantages .item>span{
    margin-top: 20px;
}
.advantages .item>p{
    margin-top: 15px;
}
.advantages .item span {
    font-size: 14px;
    font-weight: bold;
    line-height: 17px;
    color: #333333;
}
.advantages .item p {
    font-size: 12px;
    line-height: 14px;
    color: #666666;
}
.advantages{
    width: calc(100% - 320px);
    float: left;
    height: 162px;
    margin-top: 28px;
}
.subscribe form {
    margin: 18px;
}
.subscribe label {
    font-size: 16px;
    color: #ffffff;

}
.subscribe input {
    font-size: 13px;
    line-height: 37px;
    color: #999999;
    margin-top:20px ;
    width: 280px;

}
.subscribe button {
    font-size:  13px;
    line-height: 37px;
    text-align: center;
    color: #ffffff;
    background-color: #259c47;
    border: none;
    display: table-cell;
    vertical-align: middle;
    width: 188px;
    margin-top: 14px;
}
.subscribe .wrap {
    display: table;
    width: 100%;
}
.subscribe .wrap span{
    padding-left: 20px ;
}
.subscribe .wrap span {
    font-size: 13px;
    display: table-cell;
    vertical-align: middle;
    color: rgba(255,255,255,0.5);
}
.subscribe {
    background-color: #64ba4a;
    width: 320px;
    float: left;
    margin-top: 28px;
}
.filter {
    margin-top: 30px;
}
.filter li {
    font-size: 13px;
    line-height: 16px;
    border-bottom: 1px dashed #666666;
    display: inline-block;
}
.filter li+li{
    margin-left: 20px;
}
.filter li a {
    text-decoration: none;
    color: #666666;
}
.card{
    position: relative;
    border-bottom: solid 1px #e4e4e4;
}
.cards {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    margin-top: 33px;
}
.card .name{
    margin-top: 20px;
}
.card a+div{
    margin-top: 20px;
}
.card button{
    background-color: #ff7200;
    border: #ff7200 1px solid;
    color: #ffffff;
    width: 103px;
    height: 32px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-left: 33px;
}
.card button:hover{
    background-color: #ffffff;
    color: #ff7200;

}
.status{
    position: absolute;
    display: block;
    top: -3px;
    left: -3px;
    width: 43px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}
.status.hit{
    background-color: #6eddcc;
}
.status.discount{
    background-color: #ffed03;
}
.status.new{
    background-color: #78ec71;
}
.card .name {
    font-size: 15px;
    line-height: 22px;
    color: #333333;
    display: block;
}
.card a {
    font-size: 15px;
    line-height: 22px;
    color: #0069b4;
}
.card .price {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: #333333;
    vertical-align: bottom;
}
.card .price .old{
    font-size: 14px;
    font-weight: normal;
    line-height: 16px;
    text-decoration: line-through;
    color: #666666;
    margin-right: 10px;
}
.socials {
    text-align: center;
    margin-top: 64px;
}
.social h2 {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;

    color: #666666;;
}
.socials>div{
    display: flex;
    justify-content: space-between;
    margin-top: 90px;

}
.tabs li{
    display: inline-block;
    margin: 37px 0;
}

.tabs li a{
    font-size: 14px;
    text-decoration: none;
    padding: 14px 12px;
    color: #999999;
}
.tabs li a:hover{
    background-color: #f2fff7;
    color: #1c9847;
}
.info .content {
    font-size: 12px;
    line-height: 18px;
    color: #333;
}
.info .title {
    text-transform: uppercase;
    position: relative;
}
.content .title+div{
    padding: 25px 15px;
}
.content p+p{
    margin-top: 20px;
}
.info .title:after  {
    content: '';
    position: absolute;
    left: -24px;
    height: 5px;
    width: 11px;
    background-image: url(../img/png/arrow.png);
}
footer {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    background-color: #64ba4a;
}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer a.soc{
    font-size: 21px;
}
footer  a.soc{
    margin-left: 12px;
}
.menuFooter>li{
    display: block;
    float: left;
    width: 50%;
}
footer .container>*{
    display: block;
    float: left;
    width: 50%;
}
footer .footerInfo>*{
    display: block;
    float: left;
    width: 50%;
}
footer{
    padding: 33px 0 26px;
}
.banner{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sale {
    width: 305px;
    height: 360px;
    background-size: cover;
    background-position: center;
}
.slider {
    width: 640px;
    height: 360px;
    background-size: cover;
    background-position: center;
}
.card .img {
    width: 100%;
    height: 220px;
    background-size: cover;
    background-position: center;
}
.socialItem {
    height: 400px;
    width: 290px;
}
.socialItem2 {
    height: 400px;
    width: 350px;
}
.breadcrumbs *{
    color: #999999;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}
.newsTitle h2 {
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
}
.newsTitle h3 {
    font-size: 18px;
    line-height: 22px;
    color: #333333;
    font-weight: 600;
}
.newsTitle span {
    color: #999999;
    font-size: 12px;
    line-height: 22px;
    text-decoration: none;
}
.newsContent p {
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    margin: 20px 0;
}
.newsContent a {
    font-size: 13px;
    line-height: 22px;
    color: #0069b4;
}
.newsTitle h3{
    margin-top: 50px;
}
.newsContent .newsImage{
    margin-top: 17px;
    height: 150px;
    width: 980px;
}


fieldset{
    border: none;
}
.socials h2{
    font-size: 18px;
    color: #666666;
    font-weight: 600;
}
.order h2{
    font-size: 25px;
    line-height: 22px;
    font-weight: 600;
    color: #333333;

}
select{
    font-family: "Open Sans";
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}
.order label{
    font-style: italic;
    font-size: 13px;
    line-height: 22px;
    color: #333333;
}
.order fieldset span{
    font-size: 15px;
    line-height: 22px;
    color: #666666;
    font-weight: 600;
}
input[type="radio"]+label{
    font-size: 13px;
    line-height: 19px;
    color: #333333;
    font-style: normal;
}
.order p{
    font-size: 12px;
    line-height: 18px;
    color: #333333;
}
.delivery  p>span {
    color: #f26522;
    font-size: 12px;
    line-height: 18px;
}
.order label>span{
    color: #ed1c24;
}
.delivery li{
    padding-left: 40px;
}
.delivery label {
    position: relative;
    padding-left: 40px;
    margin-left: -40px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}
.radioBtn{
    display: none;
}
.radioBtn:not(checked) + label::before{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 22px;
    height: 22px;
    border: 2px solid #d4d4d4;
    border-radius: 50%;
    transition: all 0.3s;
}
.radioBtn:not(checked) + label::after{
    content: '';
    display: block;
    position: absolute;
    top: 7px;
    left: 7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #51bf87;
    opacity: 0;
    transition: all 0.3s;
}
.radioBtn:checked + label::after{
    opacity: 1;
}
.radioBtn:checked + label::before{
    border-color: #51bf87;
}
.radioBtn+label{
    cursor: pointer;
}

.subscribe input:focus{
    border: 1px solid #64ba4a;
}
.corpWrapper{
    margin-bottom: 25px;
}
.corpLeft{
    color: #666666;
    margin-right: 33px;
}
.corpRight p{
    color: #333333;
    font-size: 13px;
    line-height: 22px;
}
.corpRight p+p{
    margin-top: 32px;
}
.corpRight h2+p{
    margin-top: 17px;
}

.corpRight h2{
    font-size: 25px;
    line-height: 22px;
    color: #333333;
}

.corpLeft form{
    background-color: #f9f9f9;
    padding: 24px 12px;
    margin-top: 18px;
}
.corpLeft{
    width: 307px;
    float: left;
    font-size: 13px;
    line-height: 22px;
}

.corpLeft label {
    font-style: italic;
    font-size: 13px;
}
.logoSet{
    position: relative;
    padding-bottom: 10px;

    width: 65%;
    float: left;
}
.logoSet>span{
    color: #333333;
}

.logoYesNo label{
    font-style: normal;
    position: relative;
    padding-left: 25px;
    margin-left: -25px;
    font-size: 13px;
    line-height: 19px;
    color: #333333;
}
.logoYesNo li{
    padding-left: 25px;
    float: left;
}
.corpLeft select{
    display: block;
}
textarea{
    border: 1px solid #d6d6d6;
    display: block;
}
.logoSet span+span{
    font-size: 11px;
    position: absolute;
    left: 0;
    top: -10px;
    color: #999999;
}
label[for="file"] {
    font-style: normal;
    color: #229647;
}
.corpLeft button {
    background-color: #ff7200;
    color: #ffffff;
    border: none;
    height: 32px;
    width: 130px;
    margin-top: 22px;
}
.corpRight button{
    width: 194px;
    height: 32px;
    color: #ffffff;
    background-color: #64ba4a;
    border: none;
    margin-top: 28px;
}
select[name="country"]{
    display: block;
}

.country {
    border-bottom: 1px solid #e4e4e4;
}
.delivery{
    border-bottom: 1px solid #e4e4e4;
}
#street, #area,#name,#mail,#number{
    display: block;
}
.addressRow div{
    float: left;
    width: 59px;
    margin-right: 36px;
}
.addressRow input{
    width: inherit;
}
.addressRow div:last-child{
    float: left;
    width: 106px;
}
.address{
    border-bottom: 1px solid #e4e4e4;
}
.order fieldset span+div, .order fieldset span+ul{
    padding: 20px 0;
}
.order fieldset {
    margin: 20px 0;
}
.order button{
    height: 35px;
    width: 191px;
    background-color: #ea5b0c;
    color: #ffffff;
    border: none;
    margin-bottom: 67px;
}


@media (max-width: 1199px){
    .container{
        width: 950px;
        padding: 0;
    }
    .sale{
        height: 350px;
        width: 295px;
    }
    .slider{
        height: 350px;
        width: 625px;
    }
    .advantages{
        width: 650px;
    }
    .subscribe{
        width: 300px;
    }
    .card .img{
        height: 215px;
    }
    .socials{
        display: none;
    }
}
@media (max-width: 991px) {
    .container{
        width: 720px;
    }
    .sale{
        height: 260px;
        width: 220px;
    }
    .slider{
        height: 265px;
        width: 470px;
    }
    .advantages{
        width: 100%;
    }
    .subscribe{
        width: 100%;
    }
    .filter{
        display: none;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 34px;
    }
    .card .img{
        height: 217px;
        width: 217px;
    }
}

@media (max-width: 767px) {
    .container{
        width: 270px;
    }
    .banner{
        display: none;
    }
    .advSub{
        display: none;
    }
    .cards{
        display: grid;
        grid-template-columns: 1fr;

    }
    .card .img{
        height: 270px;
        width: 270px;
    }
    .info{
        display: none;
    }
}

@media (max-width: 479px) {

}
